{% extends 'base.html' %}
{% block title %} Projects {% endblock %}
{% block content %}
    <h4 class="text-center my-3 pb-3">Список проектов</h4>
    <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
        <div class="col-12">
            <a href="{% url 'add_project' %}" type="submit" class="btn btn-primary">Добавить</a>
            <a href="{% url 'main' %}" type="submit" class="btn btn-primary">Задачи</a>
        </div>
    </form>
    <table class="table mb-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Проект</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <th scope="row">{{ project.pk }}</th>
                <td>{{ project.name }}</td>
                <td><a href="{% url 'project' project.pk %}" class="btn btn-dark">Подробнее</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}