{% extends 'base.html' %}
{% block title %} Project {{ task.id }} {% endblock %}

{% block content %}

    <h4 class="text-center my-3 pb-3">{{ project.name }}</h4>
    <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
        <div class="col text-center">
            <a href="{% url 'projects' %}" type="submit" class="btn btn-primary">Проекты</a>
            <a href="{% url 'add' project.pk %}" type="submit" class="btn btn-primary">Добавить задачу</a>
        </div>

    </form>
    <table class="table mb-4">
        <thead>
        <tr>
            <th scope="col">Проект</th>
            <th scope="col">Дата начала</th>
            <th scope="col">Дата окончания</th>
            <th scope="col">Полное описание</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.start_date }}</td>
            <td>{{ project.end_date }}</td>
            <td class="text-break">{{ task.description|linebreaks }}</td>
        </tr>
        </tbody>
    </table>
    <table class="table mb-4">
    <h4 class="text-center my-3 pb-3">Список Задач по проекту</h4>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Задачи</th>
            <th scope="col">Статус</th>
            <th scope="col">Тип</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <th scope="row">{{ task.pk }}</th>
                <td>{{ task.summary }}</td>
                <td>{{ task.status }}</td>
                <td>{% for type in task.type.all %}{{ type.name }} {% if not forloop.last %},
                {% endif %} {% endfor %}</td>
                <td><a href="{% url 'task' task.pk %}" class="btn btn-dark">Подробнее</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

